# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/aws.xml
.idea/codeStyles/
.idea/dataSources.xml
.idea/dataSources/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/rest_framework_tutoria.iml
.idea/vcs.xml
db.sqlite3
manage.py
rest_framework_tutoria/
snippets/
templates/
